In [13]:
import tweepy
import pandas as pd
import numpy as np

In [2]:
ACCESS_TOKEN = ''
ACCESS_SECRET = ''
CONSUMER_KEY = ''
CONSUMER_SECRET = ''

In [3]:
auth = tweepy.OAuthHandler(CONSUMER_KEY, CONSUMER_SECRET)
auth.set_access_token(ACCESS_TOKEN, ACCESS_SECRET)

In [5]:
api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True, compression=True)

In [24]:
time = []
tweets = []
for tweet in tweepy.Cursor(api.search,q="#Zomato",count=200,lang="en",since="2019-04-03").items(200):
    if(len(tweets)>0 and tweet.text == tweets[-1]):
        continue
    time.append(tweet.created_at)
    tweets.append(tweet.text)
print(len(time))
print(len(tweets))

189
189

In [14]:
df = pd.DataFrame(columns=['time','tweet'])

In [25]:
tweets[1:5]

['RT @NikitaVasudeva: Incomplete order received.. the ones received were cold! Neither replacement of order nor refund of amount.\nWhat a cust…',
 'Our website : https://t.co/2C2AcVglF0\nEmail : sales@securaex.com\n\n #purple #alibaba #pepperfry #tatacliq #jet… https://t.co/4mfCuQabBt',
 "#zomato @ZomatoIN @zomatocare \n\nOrder I'd: 15777383291.\nI ordered chicken fried rice and found bone pieces in it. R… https://t.co/E8ZeEaLz81",
 'Hey useless @ZomatolN   You have cancelled 6 times of my orders one after another. That is 2 hours your have wasted… https://t.co/vaGL18PD6T']

In [26]:
df['time'] = time

In [27]:
df['tweet'] = tweets

In [31]:
df.head()

,time,tweet,length
0,2019-04-29 14:02:50,Hey @ZomatoIN and @swiggy_in please provide yo...,136
1,2019-04-29 13:36:50,RT @NikitaVasudeva: Incomplete order received....,140
2,2019-04-29 12:43:42,Our website : https://t.co/2C2AcVglF0\nEmail :...,134
3,2019-04-29 12:25:05,#zomato @ZomatoIN @zomatocare \n\nOrder I'd: 1...,140
4,2019-04-29 12:19:28,Hey useless @ZomatolN You have cancelled 6 t...,140

In [30]:
df['length'] = df['tweet'].apply(lambda x : len(x))