In [113]:
import tweepy
import csv
import pandas as pd
import datetime

In [100]:
####input your credentials here
consumer_key = 'GWmiD285IA55bQsYqsFj9Yj2Q'
consumer_secret = 'GrFOAK3ggwahzjEw5bzTEwfVVMkWmQreo782MBtGC8GYPfUVrp'
access_token = '4915730971-FOMoThXCytrM2QTTpfe7v9rK6yrmPJbpKa6kaEj'
access_token_secret = 'edniXYK8ec0uFMrcT9VtXsZ1WP1mEuLe5kb4BRsgX8g7v'

In [108]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth,wait_on_rate_limit=True)
#####United Airlines
# Open/Create a file to append data
csvFile = open('ua1.csv', 'a')
#Use csv Writer
csvWriter = csv.writer(csvFile)
total_retweets = 0

for tweet in tweepy.Cursor(api.search,q="#India",count=100,
                           lang="en",
                           since="2017-04-03").items():
#     print (tweet.created_at, tweet.text)
    if tweet.text.startswith("RT @") == True:
        print('This tweet is a retweet')
        total_retweets += 1
    x = tweet
    csvWriter.writerow([
        tweet.created_at,
        tweet.coordinates,
        tweet.geo,
        tweet.text.encode('utf-8')])

In [103]:
df = pd.read_csv('ua1.csv')

In [109]:
df.columns = ['created_at', 'coordinates','geo', 'in_reply1','in_reply2', 'in_reply3','in_reply4','in_reply5','retweeted','re_count','text']

In [272]:
time_pairs = [[0,1],[0,5],[0,10],[0,15],[0,30],[1,0],[1,15],[1,30],[1,45],[2,0],[3,0],[4,0]]
len_t = 1000
i=0

if(df['created_at'].dtype != '<M8[ns]'):
    df['created_at'] = df['created_at'].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S') )
while (len_t>=10 and i<len(time_pairs)):
    hours, minutes = time_pairs[i]
    print('hours: '+str(hours)+'minutes: '+str(minutes))
    df['time_comp'] = df['created_at'].apply(lambda x: roundTime(dt=x, hours = hours, minutes = minutes))
    len_t = len(df['time_comp'].value_counts())
    print(len_t)
    i += 1

hours: 0minutes: 1
686
hours: 0minutes: 5
138
hours: 0minutes: 10
69
hours: 0minutes: 15
47
hours: 0minutes: 30
23
hours: 1minutes: 0
12
hours: 1minutes: 15
10
hours: 1minutes: 30
8

In [297]:
def roundTime(dt=None, hours=0, minutes=1):

    dateDelta=datetime.timedelta(hours=hours,minutes=minutes)
    """Round a datetime object to a multiple of a timedelta
    dt : datetime.datetime object, default now.
    dateDelta : timedelta object, we round to a multiple of this, default 1 minute.
    Author: Thierry Husson 2012 - Use it as you want but don't blame me.
            Stijn Nevens 2014 - Changed to use only datetime objects as variables
    """
    roundTo = dateDelta.total_seconds()
    if dt == None : 
        dt = datetime.datetime.now()
    dtmin = datetime.datetime(2012,12,31,00,00,00)
    seconds = (dt - dtmin).seconds
#     // is a floor division, not a comment on following line:
    rounding = (seconds+roundTo/2) // roundTo * roundTo
    return dt + datetime.timedelta(0,rounding-seconds,-dt.microsecond)

In [226]:
roundTime(df['created_at'][1])

1677-09-21 00:12:43.145225

Timestamp('2019-07-24 14:05:00')

In [224]:
dt.min

NameError: name 'dt' is not defined

In [278]:
df2 = df.iloc[1:3]

In [280]:
df2.head()

,created_at,coordinates,geo,in_reply1,in_reply2,in_reply3,in_reply4,in_reply5,retweeted,re_count,text,time_exp_hour,time_exp_1minute,time_exp_1minute_1,time_comp
1,2019-07-24 14:05:52,NaN,NaN,Kanwal33,1.154030e+18,1.154030e+18,85490946.0,85490946.0,False,0.0,b'2. - #LaborMinistry recommended a raise of I...,2019-07-24 14:05:00,2019-07-24 14:01:00,2019-07-24 14:06:00,2019-07-24 13:30:00
2,2019-07-24 14:05:52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,0.0,"b'Western World, the aspiring to be a #Superpo...",2019-07-24 14:05:00,2019-07-24 14:01:00,2019-07-24 14:06:00,2019-07-24 13:30:00

In [281]:
df2.append(df.iloc[4])

,created_at,coordinates,geo,in_reply1,in_reply2,in_reply3,in_reply4,in_reply5,retweeted,re_count,text,time_exp_hour,time_exp_1minute,time_exp_1minute_1,time_comp
1,2019-07-24 14:05:52,NaN,NaN,Kanwal33,1.154030e+18,1.154030e+18,85490946.0,85490946.0,False,0.0,b'2. - #LaborMinistry recommended a raise of I...,2019-07-24 14:05:00,2019-07-24 14:01:00,2019-07-24 14:06:00,2019-07-24 13:30:00
2,2019-07-24 14:05:52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,0.0,"b'Western World, the aspiring to be a #Superpo...",2019-07-24 14:05:00,2019-07-24 14:01:00,2019-07-24 14:06:00,2019-07-24 13:30:00
4,2019-07-24 14:05:39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,24.0,b'RT @SanTosHViratngr: @DrJitendraSingh @PIB_I...,2019-07-24 14:05:00,2019-07-24 14:01:00,2019-07-24 14:06:00,2019-07-24 13:30:00

In [284]:
df3 = pd.DataFrame(columns = ['a','b'])

In [288]:
df3.append({
    "a":[1],
    "b":[2]
})

TypeError: Can only append a Series if ignore_index=True or if the Series has a name

In [296]:
df.isna().sum()

created_at               0
coordinates           6644
geo                   6646
in_reply1             6145
in_reply2             6441
in_reply3             6441
in_reply4             6373
in_reply5             6373
retweeted              230
re_count               230
text                   230
time_exp_hour            0
time_exp_1minute         0
time_exp_1minute_1       0
time_comp                0
dtype: int64